@using BDAProject.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>Klift - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BDarchitects</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="About" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Project" asp-action="Project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Forum" asp-action="All">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    @if (ViewData["Title"].ToString() == "Home Page")
    {
        <section class="home-slider js-fullheight owl-carousel">
            <div class="slider-item js-fullheight" style="background-image:url(images/bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                        <div class="col-md-7 text ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We Create Amazing Architecture Designs</h1>
                            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">To be really good, design has to follow the basic rule - the balance of individuality with aesthetics and functionality.</p>
                            <p><a href="/Project/Project" class="btn btn-white btn-outline-white px-4 py-3 mt-3">View our works</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item js-fullheight" style="background-image:url(images/livingRoom_1.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                        <div class="col-md-7 text ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Virtually Build Your House</h1>
                            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">To be really good, design has to follow the basic rule - the balance of individuality with aesthetics and functionality.</p><p><a href="/Project/Project" class="btn btn-white btn-outline-white px-4 py-3 mt-3">View our works</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 h-100" src="~/images/bg_1.jpg">
                    <div class="carousel-caption d-none d-md-block">

                        @if (ViewData["Title"].ToString() == "About")
                        {
                            <h1><font color="white">About</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>About</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "Contact")
                        {
                            <h1><font color="white">Contact</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Contact</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "Project")
                        {
                            <h1><font color="white">Project</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Project</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "Login")
                        {
                            <h1><font color="white">Login</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Login</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "Register")
                        {
                            <h1><font color="white">Register</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Register</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "All")
                        {
                            <h1><font color="white">Forum</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Forum</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "AddPost")
                        {
                            <h1><font color="white">Add Post</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Forum" asp-action="All">Forum</a></span> <span>Add Post</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "EditPost")
                        {
                            <h1><font color="white">Edit Post</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Forum" asp-action="All">Forum</a></span> <span>Edit Post</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "DeletePost")
                        {
                            <h1><font color="white">Delete Post</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Forum" asp-action="All">Forum</a></span> <span>Delete Post</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "AddComment")
                        {
                            <h1><font color="white">Add Comment</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Forum" asp-action="All">Forum</a></span> <span>Add Comment</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "EditComment")
                        {
                            <h1><font color="white">Edit Comment</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Forum" asp-action="All">Forum</a></span> <span>Edit Comment</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "DeleteComment")
                        {
                            <h1><font color="white">Delete Comment</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Forum" asp-action="All">Forum</a></span> <span>Delete Comment</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "Blog")
                        {
                            <h1><font color="white">Blog</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Blog</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "AddAdminPost")
                        {
                            <h1><font color="white">Add Admin Post</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a></span> <span>Add Admin Post</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "AddBlogComment")
                        {
                            <h1><font color="white">Add Comment</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a></span> <span>Add Comment</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "EditBlogComment")
                        {
                            <h1><font color="white">Edit Comment</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a></span> <span>Edit Comment</span></p>
                        }
                        else if (ViewData["Title"].ToString() == "DeleteBlogComment")
                        {
                            <h1><font color="white">Delete Comment</font></h1>
                            <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a></span> <span>Delete Comment</span></p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">BDarchitects</h2>
                        <p>To be really good, design has to follow the basic rule - the balance of individuality with aesthetics and functionality.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            @*<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>*@
                            <li class="ftco-animate"><a href="https://www.facebook.com/bdarchstudio/"><span class="icon-facebook"></span></a></li>
                            @*<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Links</h2>
                        <ul class="list-unstyled">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="About" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Project" asp-action="Project">Projects</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Links</h2>
                        <ul class="list-unstyled">
                            <li><a asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a></li>
                            <li><a asp-area="" asp-controller="Forum" asp-action="All">Forum</a></li>
                            <li><a asp-area="" asp-controller="Contact" asp-action="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Ivan Susanin №67 Street, Sofia, Bulgaria</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+359 876 599 390  |  +359 886 661 098</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">office@bd-architects.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    @*<script src="~/js/jquery.timepicker.min.js"></script>*@
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>