@{
    ViewData["Title"] = "AddPost";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Post</h1>
        <div style="padding: 5%;">
            <form method="post">
                @*<div class="form-group">
                    <label for="startPoint">Starting Point</label>
                    <input type="text" class="form-control" id="startPoint" name="startPoint" placeholder="Location name">
                </div>*@
                <input type="hidden" name="Id" value="Id" />
                <div class="form-group">
                    <textarea name="Text" id="Text" cols="30" rows="7" class="form-control" placeholder="Text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
        </div>
    </div>
</section>
