@using BDAProject.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<body>
    <section class="ftco-services bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-idea"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Perfectly Design</h3>
                            <p>We consider every design as tailor-made and unique.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-compass-symbol"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Carefully Planned</h3>
                            <p>We start with an extensive client intake, considering how our clients live, spend their time and their personal tastes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-layers"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Smartly Execute</h3>
                            <p>This allows us to harmonize our characteristic signature with the personality of our client.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <vc:latest-three-blog-posts></vc:latest-three-blog-posts>

    <section class="ftco-section ftc-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 p-md-5 img img-2" style="background-image: url(images/about.jpg);">
                </div>
                <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section mb-5 pl-md-5 heading-section-with-line">
                        <div class="pl-md-5 ml-md-5">
                            <span class="subheading">About</span>
                            <h2 class="mb-4">We are Interior Design Studio &amp; Architect Consultant</h2>
                        </div>
                    </div>
                    <div class="pl-md-5 ml-md-5 mb-5">
                        <p>We consider every design as tailor-made and unique. Understanding our clients; their wishes, requirements and lifestyle, forms the foundation for success. We start with an extensive client intake, considering how our clients live, spend their time and their personal tastes. This allows us to harmonize our characteristic signature with the personality of our client. </p>
                        <p>To be really good, design has to follow the basic rule - the balance of individuality with aesthetics and functionality.</p>
                        @*<p><a href="#" class="btn-custom">Learn More <span class="ion-ios-arrow-forward"></span></a></p>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
