@{
    ViewData["Title"] = "AddBlogComment";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Comment</h1>
        <div style="padding: 5%;">
            <form method="post">
                <div class="form-group">
                    <textarea name="CommentText" id="CommentText" cols="30" rows="7" class="form-control" placeholder="Text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
        </div>
    </div>
</section>
