@{
    ViewData["Title"] = "Blog";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <h2 class="mb-4">Blog</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
        @if (this.User.Identity.Name == "maria@abv.bg")
        {
            <div style="margin: 2%; text-align: center;">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="BlogAdmin" asp-action="AddAdminPost"><strong>Add Post to Blog</strong></a>
            </div>
        }

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <img src="~/images/@item.ImageName" class="img-fluid" alt="Colorlib Template">
                        <a href="~/images/@item.ImageName" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="text d-flex py-4">
                            <div class="meta mb-3">
                                <div><a href="#">@item.CreatedOn</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span>@item.BlogComments.Count</a></div>
                            </div>
                            <div class="desc pl-3">
                                <h3 class="heading"><a href="#">@item.Text</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
</section>
