@{
    ViewData["Title"] = "DeleteBlogComment";
}

<hr />
<h2 class="mb-4">Are you sure you want to DELETE this comment?</h2>
<hr />

<div class="row">
    <div class="button-holder">
        <a href="/Blog/Blog" class="btn">Cancel</a>
    </div>
    <div>

    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
