@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>

<div style="margin: 2%; text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Blog"><strong>Add Post to Blog</strong></a>
</div>
