@{
    ViewData["Title"] = "About";
}


<section class="ftco-section ftc-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2">

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 h-100" src="~/images/about.jpg">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section mb-5 pl-md-5 heading-section-with-line">
                    <div class="pl-md-5 ml-md-5">
                        <span class="subheading">About</span>
                        <h2 class="mb-4">We are Interior Design Studio &amp; Architect Consultant</h2>
                    </div>
                </div>
                <div class="pl-md-5 ml-md-5 mb-5">
                    <p>We consider every design as tailor-made and unique. Understanding our clients; their wishes, requirements and lifestyle, forms the foundation for success. We start with an extensive client intake, considering how our clients live, spend their time and their personal tastes. This allows us to harmonize our characteristic signature with the personality of our client.</p>
                    <p>To be really good, design has to follow the basic rule - the balance of individuality with aesthetics and functionality.</p>
                    @*<p><a href="#" class="btn-custom">Learn More <span class="ion-ios-arrow-forward"></span></a></p>*@
                </div>
            </div>
        </div>
    </div>
</section>
